body {
	background-color: #e6e6e6;
}
.washing {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	background-color: #f9afac;
	border-radius: 15px;
	box-shadow: 5px -5px 0px #999;
	position: relative;
}
.panel {
	width: 100%;
	height: 100px;
	background-color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.switch {
	padding: 4px;
	margin: 10px;
	background: #333;
	color: #fff;
	display: inline-block;
	border-radius: 5px;
}
.welcome {
	width: 500px;
	position:relative;
	/*text-align: center;*/
	margin:auto;
}
#logOut {
	padding: 4px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: #333;
	color: #fff;
	display: inline-block;
	border-radius: 5px;
}
.switch.on {
	background-color: darkgoldenrod;
}
.drum {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	background-image: url('../images/drum-bg.png');
	background-color: #676767;
	position: absolute;
	left: 50%;
	bottom: 80px;
	transform: translateX(-50%);
	border: 8px solid #8a8a8a;
}
.door {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	background-color: rgba(255,255,255,.4);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: -12px;
	border: 12px solid #484848;
	transition: transform .5s ease-in-out;
}
.drum.open .door {
	transform: translateX(-100%);
}
.text-center {
	text-align: center;
}
.form input {
	background-color: #fff;
	border: none;
	outline: none;
	padding: 5px 10px;
	border-radius: 7px;
	display: block;
	margin: 10px auto;
}
.form .btn {
	background-color: #f67e79;
	font-weight: bold;
	font-size: 1.1em;
	color: #fff;
}
.modesTable {
	margin: auto;
	border-collapse: collapse;
	border: 2px solid #333;
}
.modesTable th {
	margin: 5px;
	padding: 3px;
}
.choose-outer,
.addmode-outer,
.changemode-outer {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.choose-outer {
	z-index: 2;
}
.addmode-outer {
	z-index: 3;
}
.changemode-outer {
	z-index: 4;
}
.choose-inner,
.addmode-inner,
.changemode-inner {
	background-color: #fff;
	min-width: 500px;
	padding: 30px;
	border-radius: 6px;
	box-shadow: 3px 2px 6px rgba(0,0,0,.3);
}
.choose table {
	width: 100%;
	background-color: #f67e79;
}
.choose table tbody tr:nth-child(2n+1) {
	background-color: rgba(255,255,255, .3);
}
button {
	padding: 4px 9px;
	font-size: 14px;
	border: none;
	cursor: pointer;
	margin: 5px;
	display: inline-block;
	outline: none;
	color: #fff;
    background-color: #26a69a;
	text-align: center;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	transition: .3s ease-out;
}
button:hover,
button:active {
	background-color: #2bbbad;
}
button.red {
	background-color: #F44336;
}
button.red:hover,
button.red:active {
	background-color: #f7695f;
}
input[type='text'] {
	border-radius: 2px;
	background-color: #fff;
	color: #000;
	border: 1px solid #2bbbad;
	padding: 6px 10px;
}