body {
	font-style: italic;
	color: red;
	background-color: #e6e6e6;
}


.washing {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	background-color: #f9afac;
	border-radius: 15px;
	box-shadow: 5px -5px 0px #999;
	position: relative;
}
.panel {
	width: 100%;
	height: 100px;
	background-color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.switch {
	padding: 4px;
	margin: 10px;
	background: #333;
	color: #fff;
	display: inline-block;
	border-radius: 5px;
}
.switch.on {
	background-color: darkgoldenrod;
}
.drum {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	background-image: url('../images/drum-bg.png');
	background-color: #676767;
	position: absolute;
	left: 50%;
	bottom: 80px;
	transform: translateX(-50%);
	border: 8px solid #8a8a8a;
}
.door {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	background-color: rgba(255,255,255,.4);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: -12px;
	border: 12px solid #484848;
	transition: transform .5s ease-in-out;
}
.drum.open .door {
	transform: translateX(-100%);
}